

.content-card {
    border-radius: 12px;
    width: 100%;
    aspect-ratio: 16/9;
    overflow: hidden;
    position: relative;
    max-width: 520px;
}

.content-card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    color: white;
}

.content-card-body {
    position: absolute;
    color: var(--white);
    height: 100%;
    width: 100%;
    padding: 20px;
}

.content-card-link {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    height: 30px;
    cursor: pointer;
}

.content-card-background {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.content-card-info {
}

.content-card-logo {
    width: 24px;
    height: 24px;
}
.content-card-logo img {
    width: 24px;
    height: 24px;
}